// Carousel
.ss-carousel {
  position: relative;
  overflow-x: hidden;
  -webkit-user-select: none;
}

.ss-carousel-item {
  position: relative;
  float: left;

  a, img {
    display: block;
    max-width: 100%;
    -webkit-user-drag: none;
  }

  img {
    width: 100%;
    margin: 0 auto;
  }
}

.ss-carousel:not(.no-transition) .ss-carousel-container {
  @media (-webkit-transform-3d) {
    -webkit-backface-visibility: hidden;
  }
  transition: transform .35s cubic-bezier(0.14, 0.34, 0.18, .93);
}
